/**Variable**/

.s-table--body-wrapper,
.s-table--fixed-left-body-wrapper,
.s-table--fixed-right-body-wrapper {
  overflow-y: auto;
  overflow-x: auto;
}

.s-table--borders {
  .s-table-border-top,
  .s-table-border-right,
  .s-table-border-bottom,
  .s-table-border-left {
    position: absolute;
    background-color: $s-primary-color;
  }
  .s-table-checked-borders {
    .s-table-border-top,
    .s-table-border-bottom {
      height: $s-table-column-checked-border-width;
    }
    .s-table-border-right,
    .s-table-border-left {
      width: $s-table-column-checked-border-width;
    }
  }
  .s-table-copyed-borders {
    .s-table-border-top,
    .s-table-border-bottom {
      height: #{$s-table-column-checked-border-width + 1};
    }
    .s-table-border-right,
    .s-table-border-left {
      width: #{$s-table-column-checked-border-width + 1};
    }
    & > span {
      background: repeating-linear-gradient(135deg, transparent, transparent 3px, $s-primary-color 3px, $s-primary-color 9px);
      animation: shine 1s infinite linear;
    }
  }
}

.s-body--row {
  .s-body--column {
    &.col--checked {
      position: relative;
      background-color: $s-table-column-checked-background-color;
      border-right-color: $s-table-column-checked-border-color;
      border-bottom-color: $s-table-column-checked-border-color;
    }
    &.col--selected {
      background-color: #fff;
    }
  }
}

@keyframes shine {
  0% {
    background-position: -1px -1px;
  }
  100% {
    background-position: -12px -12px;
  }
}
