/**Variable**/

/*button*/
button {
  &.s-button {
    padding: 0 16px;
    line-height: 30px;
    border: 1px solid $s-input-border-color;
    border-radius: 4px;
    &.type--primary {
      color: #fff;
      border-color: $s-primary-color;
      background-color: $s-primary-color;
      &:hover {
        color: #fff;
        background-color: lighten($s-primary-color, 4%);
        border-color: lighten($s-primary-color, 4%);
      }
      &:active {
        color: #fff;
        background-color: darken($s-primary-color, 2%);
        border-color: darken($s-primary-color, 2%);
      }
    }
    &:hover {
      color: lighten($s-primary-color, 6%);
      border-color: lighten($s-primary-color, 10%);
    }
    &:active {
      color: darken($s-primary-color, 2%);
      border-color: darken($s-primary-color, 2%);
    }
    &.size--medium {
      padding: 0 14px;
      line-height: 28px;
    }
    &.size--small {
      padding: 0 12px;
      line-height: 26px;
    }
    &.size--mini {
      padding: 0 10px;
      line-height: 24px;
    }
  }
}
a {
  &.s-button {
    color: $s-primary-color;
    text-decoration: none;
    &:hover {
      color: lighten($s-primary-color, 10%);
    }
  }
}
.s-button {
  text-align: center;
  background-color: #fff;
  outline: 0;
  font-size: $s-font-size;
  color: $s-font-color;
  user-select: none;
  appearance: none;
  cursor: pointer;
  &+.s-button {
    margin-left: 10px;
    &.size--medium {
      margin-left: 8px;
    }
    &.size--small {
      margin-left: 6px;
    }
    &.size--mini {
      margin-left: 4px;
    }
  }
  &.size--small,
  &.size--mini {
    font-size: 12px;
  }
}
.s-button--wrapper {
  display: inline-block;
}
