/**Variable**/

/*excel*/
.s-table {
  &.s-excel {
    &.c--checked {
      cursor: default;
      .s-header--column {
        .s-resizable {
          cursor: default;
        }
      }
    }
    .s-header--column {
      padding: 4px 0;
      font-size: 12px;
      transition: none;
      cursor: default;
    }
    .s-body--column {
      padding: 0;
      transition: none;
      height: inherit;
      line-height: 24px;
      cursor: cell;
      &.col--actived {
        .s-cell {
          padding: 0;
        }
      }
      .s-cell {
        padding: 0 2px;
        word-break: break-all;
        .s-input--wrapper {
          height: inherit;
          position: relative;
          .s-textarea {
            position: absolute;
            overflow: hidden;
            padding: 0 2px;
          }
          .s-textarea,
          .s-textarea:focus {
            border-radius: 0;
            border: 0;
            outline: $s-table-column-checked-border-width solid $s-primary-color;
          }
        }
      }
    }
  }
}

@keyframes shine {
  0% {
    background-position: -1px -1px;
  }
  100% {
    background-position: -12px -12px;
  }
}
