/**Variable**/

.s-grid {
  .s-body--row {
    &.row--pending {
      color: $s-table-validate-error-color;
      text-decoration: line-through;
      cursor: no-drop;
      .s-body--column {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 0;
          border-bottom: 1px solid $s-table-validate-error-color;
          z-index: 1;
        }
      }
    }
  }
}
