/**Variable**/

/*input*/
.s-input--wrapper {
  height: 40px;
  font-size: $s-font-size;
  display: inline-block;
  .s-input,
  .s-textarea {
    outline: 0;
    padding: 0 10px;
    height: 100%;
    width: 100%;
    color: $s-font-color;
    border: 1px solid $s-input-border-color;
    &:focus {
      border: 1px solid $s-primary-color;
    }
  }
  .s-input {
    border-radius: 4px;
    background-color: #FFF;
  }
  .s-textarea {
    resize: none;
  }
  &.size--medium {
    height: 36px;
  }
  &.size--small {
    height: 32px;
  }
  &.size--mini {
    height: 28px;
  }
}
