/**Variable**/

/*input*/
.s-input--wrapper {
  font-size: $s-font-size;
  display: inline-block;
  &.type--textarea {
    width: 100%;
  }
  .s-input,
  .s-textarea {
    border-radius: 4px;
    outline: 0;
    padding: 4px 8px;
    width: 100%;
    color: $s-font-color;
    border: 1px solid $s-input-border-color;
    background-color: #FFF;
    &:focus {
      border: 1px solid $s-primary-color;
    }
    &[disabled] {
      cursor: not-allowed;
      background-color: $s-input-disabled-color;
    }
  }
  .s-input {
    height: 40px;
  }
  .s-textarea {
    height: 100%;
  }
  &.size--medium {
    .s-input {
      height: 36px;
    }
  }
  &.size--small {
    .s-input {
      height: 32px;
    }
  }
  &.size--mini {
    .s-input {
      height: 28px;
    }
  }
}
