/**Variable**/
@import './helpers/mixin.scss';
@import './base/common.scss';

%TextEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%DefaultColumnHeight {
  height: $s-table-row-height-default;
}

%MediumColumnHeight {
  height: $s-table-row-height-medium;
}

%SmallColumnHeight {
  height: $s-table-row-height-small;
}

%MiniColumnHeight {
  height: $s-table-row-height-mini;
}

%CellEllipsis {
  &:not(.col--actived) {
    .s-cell {
      @extend %TextEllipsis;
      & > .s-checkbox {
        @extend %TextEllipsis;
      }
    }
  }
}

.s-table-hidden-column,
.s-table--import-form {
  display: none;
}

.s-table--print-frame {
  position: fixed;
  bottom: -100%;
  left: -100%;
  height: 0;
  width: 0;
  border: 0;
}

/*默认的渲染*/
.s-table,
.s-table--filter-wrapper {
  .s-default-input,
  .s-default-textarea,
  .s-default-select {
    outline: 0;
    padding: 0 2px;
    height: floor($s-table-row-height-default - 8);
    width: 100%;
    color: $s-font-color;
    border-radius: 4px;
    border: 1px solid $s-input-border-color;
    &:focus {
      border: 1px solid $s-primary-color;
    }
    &[disabled] {
      cursor: not-allowed;
      background-color: #f3f3f3;
    }
  }
  .s-default-input {
    &[type="date"]::-webkit-inner-spin-button {
      margin-top: 6px;
    }
    &[type="date"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      height: 24px;
    }
    &::placeholder {
      color: $s-input-placeholder-color;
    }
  }
  .s-default-textarea {
    resize: none;
    vertical-align: middle;
  }
  .s-input--wrapper {
    width: 100%;
    display: block;
    .s-input,
    .s-textarea {
      padding: 0 2px;
    }
    .s-textarea {
      resize: none;
    }
  }
}
.s-table--filter-wrapper {
  .s-default-input,
  .s-default-textarea {
    padding: 0 10px;
  }
}

/*table*/
.s-table {
  position: relative;
  overflow: hidden;
  border-left: 1px solid $s-table-border-color;
  border-right: 1px solid $s-table-border-color;
  font-size: $s-font-size;
  color: $s-font-color;
  font-family: $s-font-family;
  background-color: $s-table-background-color;
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $s-table-border-color;
    z-index: 1;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
  table {
    border-spacing: 0;
    border-collapse: separate;
  }
  .s-table--header-wrapper,
  .s-table--footer-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 1px solid $s-table-border-color;
  }
  &.show--foot {
    &.scroll--x {
      .s-table--body-wrapper {
        overflow-x: scroll;
      }
    }
  }
  .s-body--row {
    background-color: $s-table-background-color;
    &.row--stripe {
      background-color: $s-table-row-striped-background-color;
    }
    &.row--hover {
      background-color: $s-table-row-hover-background-color;
    }
    &.row--current {
      background-color: $s-table-row-current-background-color;
    }
    .s-body--column {
      border-bottom: 1px solid $s-table-border-color;
    }
  }
  &.c--resize {
    * {
      cursor: col-resize;
    }
  }
  // &.t--stripe {
  //   .s-body--row {
  //     &:not(.row--current) {
  //       &:nth-child(2n) {
  //         background-color: $s-table-row-striped-background-color;
  //       }
  //     }
  //   }
  // }
  &.column--highlight {
    .s-header--column {
      &:not(.col--index) {
        &:hover {
          background-color: $s-table-column-hover-background-color;
        }
      }
    }
  }
  .s-header--column,
  .s-body--column,
  .s-footer--column {
    line-height: $s-table-row-line-height;
    text-align: left;
    &:not(.col--ellipsis) {
      padding: #{floor(($s-table-row-height-default - $s-table-row-line-height) / 2)} 0;
    }
    &.col--current {
      background-color: $s-table-column-current-background-color;
    }
    &.col--center {
      text-align: center;
    }
    &.col--right {
      text-align: right;
    }
  }
  &.t--border {
    .s-header--column,
    .s-body--column,
    .s-footer--column {
      border-right: 1px solid $s-table-border-color;
    }
    &.scroll--y {
      .s-header--column,
      .s-body--column,
      .s-footer--column {
        &:last-child {
          border-right: 1px solid $s-table-border-color;
        }
      }
    }
    .s-header--column,
    .s-footer--column{
      border-bottom: 1px solid $s-table-border-color;
    }
    .s-table--fixed-left-wrapper {
      .s-body--column{
        border-right-color: $s-table-border-color;
      }
    }
  }
  &.t--checked,
  &.t--selected {
    user-select: none;
  }
  &.t--checked {
    .s-header--column,
    .s-body--column {
      &.col--index {
        text-align: center;
        cursor: default;
      }
    }
    .s-header--column {
      &.col--index {
        .s-cell {
          visibility: hidden;
        }
      }
    }
    .s-body--column {
      &.col--index {
        background-color: $s-table-header-background-color;
        &.col--index-checked {
          background-color: $s-table-column-header-checked-background-color;
        }
      }
    }
  }
  &.size--medium {
    font-size: $s-font-size-medium;
    .s-header--column,
    .s-body--column,
    .s-footer--column {
      &:not(.col--ellipsis) {
        padding: #{floor(($s-table-row-height-medium - $s-table-row-line-height) / 2)} 0;
      }
    }
    .s-table--loading {
      .s-table--spinner {
        width: 50px;
        height: 50px;
      }
    }
    .s-default-input,
    .s-default-textarea,
    .s-default-select,
    .s-input--wrapper {
      height: floor($s-table-row-height-medium - 8);
    }
    .s-default-input {
      &[type="date"]::-webkit-inner-spin-button {
        margin-top: 4px;
      }
    }
  }
  &.size--small {
    font-size: $s-font-size-small;
    .s-header--column,
    .s-body--column,
    .s-footer--column {
      &:not(.col--ellipsis) {
        padding: #{floor(($s-table-row-height-small - $s-table-row-line-height) / 2)} 0;
      }
    }
    .s-table--loading {
      .s-table--spinner {
        width: 44px;
        height: 44px;
      }
    }
    .s-default-input,
    .s-default-textarea,
    .s-default-select,
    .s-input--wrapper {
      height: floor($s-table-row-height-small - 8);
    }
    .s-default-input {
      &[type="date"]::-webkit-inner-spin-button {
        margin-top: 2px;
      }
    }
  }
  &.size--mini {
    font-size: $s-font-size-mini;
    .s-header--column,
    .s-body--column,
    .s-footer--column {
      &:not(.col--ellipsis) {
        padding: #{floor(($s-table-row-height-mini - $s-table-row-line-height) / 2)} 0;
      }
    }
    .s-table--loading {
      .s-table--spinner {
        width: 38px;
        height: 38px;
      }
    }
    .s-default-input,
    .s-default-textarea,
    .s-default-select,
    .s-input--wrapper {
      height: floor($s-table-row-height-mini - 8);
    }
    .s-default-input {
      &[type="date"]::-webkit-inner-spin-button {
        margin-top: 0;
      }
    }
  }
  .s-cell {
    white-space: normal;
    word-break: break-word;
    padding: 0 10px;
    .s-checkbox {
      vertical-align: bottom;
    }
  }
  // &.is--recalculate {
  //   .s-header--column,
  //   .s-body--column,
  //   .s-footer--column {
  //     @extend %CellEllipsis;
  //   }
  // }
  .fixed--hidden {
    visibility: hidden;
  }
  .s-table--fixed-left-wrapper,
  .s-table--fixed-right-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    overflow: hidden;
    background-color: $s-table-background-color;
    .s-table--body-wrapper {
      overflow-x: hidden;
    }
  }
  &.show--head {
    .s-table--fixed-left-wrapper,
    .s-table--fixed-right-wrapper {
      .s-table--body-wrapper {
        &:before {
          display: none;
        }
      }
   }
  }
  .s-table--fixed-left-wrapper {
    left: 0;
    width: 200px;
    border-right: 1px solid $s-table-border-color;
    &.scrolling--middle {
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.12);
    }
  }
  .s-table--fixed-right-wrapper {
    right: 0;
    &.scrolling--middle {
      box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.12);
    }
  }
  .s-table--fixed-left-wrapper,
  .s-table--fixed-right-wrapper {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      border-top: 1px solid $s-table-border-color;
      z-index: 1;
    }
  }
  .s-table--header-wrapper,
  .s-table--body-wrapper,
  .s-table--footer-wrapper {
    position: relative;
    &.fixed-left--wrapper,
    &.fixed-right--wrapper {
      position: absolute;
      top: 0;
    }
    &.fixed-left--wrapper {
      left: 0;
      overflow-y: hidden;
    }
    &.fixed-right--wrapper {
      right: 0;
      overflow-y: auto;
    }
  }
  .s-body--x-space {
    width: 100%;
    height: 1px;
    margin-bottom: -1px;
  }
  .s-body--y-space {
    width: 0;
    float: left;
  }

  /*排序*/
  .s-sort-wrapper {
    padding: 0 2px;
    vertical-align: middle;
    display: inline-block;
    height: 22px;
    margin-top: -2px;
    .s-icon--caret-top {
      &:before {
        bottom: 0.1em;
      }
    }
    .s-sort--asc-btn,
    .s-sort--desc-btn {
      display: block;
      font-size: 12px;
      color: $s-table-column-icon-border-color;
      cursor: pointer;
      &:hover {
        color: $s-font-color;
      }
      &.sort--active {
        color: $s-primary-color;
      }
    }
  }

  /*列宽线*/
  .s-table--resizable-bar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    z-index: 4;
    &:before {
      content: "";
      display: block;
      height: 100%;
      background-color: $s-table-resizable-color;
    }
  }

  /*树形节点*/
  .s-tree--indent {
    display: inline-block;
  }
  .s-tree-wrapper {
    display: inline-block;
    vertical-align: bottom;
    width: 18px;
    cursor: pointer;
    &.is--active {
      .s-tree--node-btn {
        transform: rotate(180deg);
      }
    }
    .s-tree--node-btn {
      font-size: 12px;
      color: lighten($s-font-color, 20%);
      &:hover {
        color: $s-font-color;
      }
    }
  }

  /*展开行*/
  .s-table--expanded {
    display: block;
    text-align: center;
    cursor: pointer;
    .s-table--expand-icon {
      display: inline-block;
      width: 6px;
      height: 6px;
      border: 1px solid #666;
      vertical-align: middle;
      border-width: 1px 1px 0 0;
      transform: rotate(45deg);
      background-color: transparent;
    }
    &.expand--active {
      .s-table--expand-icon {
        transform: rotate(135deg);
      }
    }
  }
  .s-body--expanded-column {
    border-bottom: 1px solid $s-table-border-color;
  }
  .s-body--expanded-cell {
    padding: 20px;
  }

  /*固定列*/
  &.s-editable {
    .s-body--column {
      @extend %DefaultColumnHeight;
      line-height: inherit;
    }
    &.size--medium {
      .s-body--column {
        @extend %MediumColumnHeight;
      }
    }
    &.size--small {
      .s-body--column {
        @extend %SmallColumnHeight;
      }
    }
    &.size--mini {
      .s-body--column {
        @extend %MiniColumnHeight;
      }
    }
  }

  /*溢出列*/
  .s-header--column,
  .s-body--column,
  .s-footer--column {
    &.col--ellipsis {
      @extend %CellEllipsis, %DefaultColumnHeight;
      line-height: inherit;
    }
  }
  &.virtual--x,
  &.virtual--y {
    .col--ellipsis {
      .s-cell {
        max-height: $s-table-row-height-default - 1;
      }
    }
  }
  &.size--medium {
    .s-header--column,
    .s-body--column,
    .s-footer--column {
      &.col--ellipsis {
        @extend %MediumColumnHeight;
      }
    }
    &.virtual--x,
    &.virtual--y {
      .col--ellipsis {
        .s-cell {
          max-height: $s-table-row-height-medium - 1;
        }
      }
    }
  }
  &.size--small {
    .s-header--column,
    .s-body--column,
    .s-footer--column {
      &.col--ellipsis {
        @extend %SmallColumnHeight;
        .s-cell {
          max-height: $s-table-row-height-small - 1;
        }
      }
    }
    &.virtual--x,
    &.virtual--y {
      .col--ellipsis {
        .s-cell {
          max-height: $s-table-row-height-small - 1;
        }
      }
    }
  }
  &.size--mini {
    .s-header--column,
    .s-body--column,
    .s-footer--column {
      &.col--ellipsis {
        @extend %MiniColumnHeight;
        .s-cell {
          max-height: $s-table-row-height-mini - 1;
        }
      }
    }
    &.virtual--x,
    &.virtual--y {
      .col--ellipsis {
        .s-cell {
          max-height: $s-table-row-height-mini - 1;
        }
      }
    }
  }

  /*暂无数据*/
  &.is--loading {
    .s-table--empty-block {
      visibility: hidden;
    }
  }
  .s-table--empty-block {
    display: none;
    height: 100%;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    &.is--visible {
      display: flex;
    }
    .s-table--empty-text {
      display: block;
      width: 50%;
    }
  }

  .s-body--column {
    &.col--selected {
      &:not(.col--checked) {
        box-shadow: inset 0px 0px 0px 2px $s-primary-color;
      }
    }
  }

  /*校验不通过*/
  .s-body--column {
    &.col--actived,
    &.col--selected,
    &.col--dirty {
      position: relative;
    }
    &.col--valid-error {
      .s-cell--valid {
        width: 320px;
        position: absolute;
        bottom: calc(100% + 4px);
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        pointer-events: none;
        z-index: 1;
        .s-cell--valid-msg {
          display: inline-block;
          border-radius: 4px;
          padding: 8px 12px;
          color: #fff;
          background-color: $s-table-validate-error-color;
          pointer-events: auto;
        }
      }
      .s-default-input,
      .s-default-textarea,
      .s-default-select {
        border-color: $s-table-validate-error-color;
      }
      .s-input--wrapper {
        > .s-input {
          border-color: $s-table-validate-error-color;
        }
      }

    }
  }
  .s-body--row {
    &:first-child {
      .s-cell--valid {
        bottom: auto;
        top: calc(100% + 4px);
      }
    }
  }

  /*可编辑*/
  &.s-editable {
    &.c--highlight {
      .s-body--column {
        &.col--actived {
          box-shadow: inset 0px 0px 0px 2px $s-primary-color;
          &.col--valid-error {
            box-shadow: inset 0px 0px 0px 2px $s-table-validate-error-color;
          }
          .s-cell {
            .s-default-input,
            .s-default-textarea {
              border: 0;
              padding: 0;
            }
            .s-input--wrapper {
              .s-input,
              .s-textarea {
                border: 0;
                padding: 0;
              }
            }
          }
        }
      }
    }
    .s-body--column {
      padding: 0;
      &.col--actived {
        padding: 0;
      }
      &.col--dirty {
        &:before {
          content: "";
          top: -$s-table-cell-dirty-width;
          left: -$s-table-cell-dirty-width;
          position: absolute;
          border-width: $s-table-cell-dirty-width;
          border-style: solid;
          border-color: transparent $s-table-cell-dirty-color transparent transparent;
          transform: rotate(45deg);
        }
      }
    }
  }
  &.s-table-element .s-cell > .el {
    &-input, &-input-number, &-select, &-cascader, &-date-editor {
      width: 100%;
    }
  }
}
