/**Variable**/

/*toolbar*/
.s-toolbar {
  padding: 10px 0;
  &:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  &.is--loading {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: $s-loading-background-color;
    }
  }
  &.size--small,
  &.size--mini {
    padding: 8px 0
  }
  &.size--medium {
    .s-refresh--btn,
    .s-custom--setting-btn {
      font-size: 17px;
    }
  }
  &.size--small {
    .s-refresh--btn,
    .s-custom--setting-btn {
      font-size: 15px;
    }
  }
  &.size--mini {
    .s-refresh--btn,
    .s-custom--setting-btn {
      font-size: 14px;
    }
  }
  .s-refresh--wrapper,
  .s-custom--wrapper {
    float: right;
  }
  .s-custom--wrapper {
    text-align: right;
    position: relative;
    &.is--active {
      .s-custom--setting-btn {
        background-color: #D9DADB;
        border-radius: 50%;
      }
      .s-custom--option-wrapper {
        display: block;
      }
    }
  }
  .s-refresh--btn,
  .s-custom--setting-btn {
    font-size: 18px;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    &:hover {
      background-color: #F0F0F0;
      border-radius: 50%;
    }
    & > i {
      display: block;
    }
  }
  .s-refresh--btn {
    padding: 7px;
  }
  .s-custom--setting-btn {
    padding: 4px;
  }
  .s-custom--option-wrapper {
    display: none;
    position: absolute;
    right: 0;
    text-align: left;
    background-color: #fff;
    z-index: 19;
    max-height: 200px;
    overflow: auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    .s-custom--option {
      padding: 5px 5px;
      border: 1px solid $s-table-border-color;
      border-radius: 2px;
      font-weight: 700;
      font-size: 14px;
      > .s-checkbox {
        display: block;
        padding: 5px;
        max-width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
