/*font-family*/
$s-font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
$s-font-color: #606266;
$s-font-size: 14px;
$s-zindex: 3000;

/*primary color*/
$s-primary-color: #409eff;
$s-disabled-color: #B1B1B1;

/*input/radio/checkbox color*/
$s-input-border-color: #dcdfe6;
$s-input-disabled-color: #f3f3f3;;

/*popup*/
$s-table-popup-border-color: #ebeef5;

/*table color*/
$s-table-header-background-color: #f8f8f9;
$s-table-border-color: #e8eaec;
$s-table-resizable-color: #D9DDDF;
$s-table-background-color: #ffffff;

/*table row*/
$s-table-row-striped-background-color: #fafafa;
$s-table-row-hover-background-color: #f5f7fa;
$s-table-row-current-background-color: #e6f7ff;

/*table column*/
$s-table-column-hover-background-color: #d7effb;
$s-table-column-current-background-color: #e6f7ff;
$s-table-column-icon-border-color: #c0c4cc;
$s-table-column-icon-border-hover-color: #515A6E;

/*table cell*/
$s-table-cell-dirty-width: 5px;
$s-table-cell-dirty-color: #f56c6c;

/*table checked*/
$s-table-column-checked-border-width: 2px;
$s-table-column-checked-border-color: #D4D4D4;
$s-table-column-header-checked-background-color: #DCDCDC;
$s-table-column-checked-background-color: #e6f7ff;

/*loading*/
$s-loading-background-color: rgba(0, 0, 0, 0.2);

/*excel*/
$s-excel-font-color: #333;
$s-excel-header-background-color: #E6E6E6;
$s-excel-header-selected-background-color: #D2D2D2;
$s-excel-column-border-width: 2px;
$s-excel-column-border-color: #D4D4D4;
$s-excel-primary-color: #217346;

/*validate*/
$s-table-validate-error-color: #f56c6c;

/*tooltip*/
$s-tooltip-dark-background-color: #303133;
$s-tooltip-light-background-color: #fff;
